.carousel {
    /* for absolute position of next/previous button */
    position: relative;
    /* animate the background-color when entering fullscreen */
    transition: background-color 0.3s ease-out;
}

.carousel.is-fullscreen {
    /* stretch to 100% browser width/height */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9); /* backdrop color */
}

.carousel-list {
    list-style: none;
    /* show a tiny bit of the image positioned outside the viewport */
    padding-left: 3%;
    /* place items on 1 line */
    white-space: nowrap;
    /* hide images positioned outside .carousel-list */
    overflow-x: hidden;
    /* clear whitespace around .carousel-item */
    font-size: 0;
}

.carousel.is-fullscreen .carousel-list {
    /* in fullscreen, don't show a bit of the previous image */
    padding-left: 0;
    /* vertically center */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-item {
    display: inline-block;
    /* add some spacing between items */
    margin-right: 2%;
    /*
     * Initially, position each item 200% of it's own width to the left,
     * so that they can animate back into the viewport again
     */
    transform: translateX(-200%);
}

.carousel-item.is-animating-left {
    transition: transform 0.2s ease-out;
    transform: translateX(-300%); /* default - 100% */
}

.carousel-item.is-animating-right {
    transition: transform 0.2s ease-out;
    transform: translateX(-100%); /* default + 100% */
}

.carousel-item.is-animating-initial {
    /* animate back to initial state */
    transition: transform 0.2s ease-out;
}

.carousel.is-fullscreen .carousel-item {
    /* in fullscreen, remove the spacing between items */
    margin-right: 0;
}

.carousel.is-fullscreen .carousel-img {
    /*
     * Show image on full width of the browser, but
     * don't stretch it further than it's own natural width
     */
    width: 100%;
    max-width: 100%;
}

.carousel-previous,
.carousel-next,
.carousel-close {
    position: absolute;
    color: white;
    background-color: black; /* fallback */
    background-color: rgba(0, 0, 0, 0.75);
    cursor: pointer;
    z-index: 1;
}

.carousel-previous,
.carousel-next {
    width: 48px;
    height: 48px;
    padding: 0;
    /* vertically center */
    top: 0;
    bottom: 0;
    margin: auto;
    /* end vertically center */
    border: 0;
}

.carousel-next {
    right: 0;
}

.carousel-close {
    display: none; /* hide if not in fullscreen */
    top: -2px;
    /* horizontally center */
    left: 50%;
    transform: translateX(-50%);
    /* end horizontally center */
    padding: 16px;
    font-size: 1rem;
    border: 2px solid gray;
}

.carousel-close:before {
    /* x-icon as generated content, so that screenreaders ignore it */
    content: '×';
    margin-right: 16px;
}

.carousel.is-fullscreen .carousel-close {
    /* show close button in fullscreen mode */
    display: block;
}